.input-field {
  font-size: 1.5rem;
  border: 0;
  border-bottom: 2px gray solid;
  padding: 5px;
  margin: 0px 5px;
  outline: none;
  text-align: center;
  font-size: 13pt;
}
.input-field::placeholder {
  letter-spacing: 1px;
  font-family: Josefin Sans;
}
