.landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.title-text {
  font-family: "Lobster";
  color: white;
  text-align: center;
  font-size: 72pt;
}
.modal {
  height: 341px;
  width: 366px;
  display: flex;
  justify-content: center;
  align-items: center;
}
